<div class="page">
  <div>
    <span (click)="navigateTo('catalogue')">
      Retour
    </span>
  </div>
  <div class="card shadow d-flex flex-row book-card">
    <div class="m-4">
      <ul>
        <li *ngFor="let genre of book.genres">
          toto
        </li>
      </ul>
      <img class="book-image border"
        src="{{imgBackend}}/images/livres/{{book.image_name}}"
      />
    </div>
    <div class="m-4">

      <h1>{{book.titre}}</h1>

      <h2>{{book.auteur.prenom}} {{book.auteur.nom}}</h2>

      <p>Edition : {{book.editeur.nom}}</p>

      <div class="mt-5">
        <p>Réf : {{book.id}}</p>
        <p>Réf. ISBN : {{book.isbn}}</p>
      </div>

      <p class="mt-5">
        {{book.description}}
      </p>

    </div>
  </div>
</div>
