<div class="page">
  <div class="row row-cols-2 books">
    <div class="col col-3"></div>
    <div aria-label="Page navigation example" class="col col-9 d-flex flex-row w-100 mt-3 mb-3 mx-0">
      <div class="col col-1"></div>
    </div>
  </div>
  <div class="div-books">
    <div class="row row-cols-2 books">
      <div class="col col-3 d-flex flex-column">
        <div class="categories">
          <form class="d-flex flex-row p-0 mb-5 w-100">
            <input class="form-control mr-sm-2" [(ngModel)]="searchValue"
            type="text" placeholder="Search" aria-label="Search" id="search">
            <button class="btn btn-outline-success my-5 my-sm-0" (click)="searchBooks()">Search</button>
          </form>
          <ng-container [ngTemplateOutlet]="categorytemplate"
          [ngTemplateOutletContext]="{category: 'titre', elements: [{nom: 'Tous'}], categorylibelle: 'Titre'}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="categorytemplate"
          [ngTemplateOutletContext]="{category: 'editeur', elements: getEditeurs(), categorylibelle: 'Editeurs'}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="categorytemplate"
          [ngTemplateOutletContext]="{category: 'genre', elements: getGenres(), categorylibelle: 'Genres'}">
          </ng-container>
          <ng-container [ngTemplateOutlet]="categorytemplate"
          [ngTemplateOutletContext]="{category: 'auteur', elements: getAuteurs(), categorylibelle: 'Auteurs'}">
          </ng-container>
        </div>
      </div>
      <div class="col col-9 p-0 m-0 ">
        <div class="">
          <div *ngFor="let book of (getBooksFromService() | bookFilter:getRefreshFilters())"
            class="card shadow book-card mb-3 p-2">
            <ng-container [ngTemplateOutlet]="booktemplate" [ngTemplateOutletContext]="{book:book}"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-2 books">
    <div aria-label="Page navigation example" class="col col-9 d-flex flex-row w-100 mb-3 mx-0">
      <ul class="col col-3 pagination pe-0 justify-content-end w-100">
        <li class="page-item {{getNumPage() > 0 ? '' : 'disabled'}}"
        (click)="managePage(getNumPage() - 1)"><a class="page-link">Previous</a></li>
        <li *ngFor="let page of (pages | navPages:refreshPages:getRefreshPages())"
          class="page-item"><a
          class="page-link {{getNumPage() === page ? 'num-page-selected' : ''}}"
          (click)="managePage(page)">{{page + 1}}</a></li>
        <li class="page-item {{getNumPage() < getNumberPages() - 1 ? '' : 'disabled'}}"
          (click)="managePage(getNumPage() + 1)"><a class="page-link">Next</a></li>
        <li class="page-item">
          <form>
            <input class="form-control row-per-page" type="number" (change)="setNbRowByPage($event)" value="{{getNbRowByPage()}}">
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #categorytemplate let-category="category" let-elements="elements" let-categorylibelle="categorylibelle">
  <div (click)="sortBy(category)" class="d-flex flex-row mt-3 mb-2">
    <div [ngClass]="getSortCategory() === category ? 'svg-select' : 'svg'">
      <ng-container *ngIf="getSortCategory()===category && getSortSense() === 1" [ngTemplateOutlet]="asc"></ng-container>
      <ng-container *ngIf="getSortCategory()===category && getSortSense() === -1" [ngTemplateOutlet]="desc"></ng-container>
      <ng-container *ngIf="getSortCategory()!==category" [ngTemplateOutlet]="aucun"></ng-container>
    </div>
    <span [ngClass]="getSortCategory() === category ? 'font-select' : ''" >{{categorylibelle}}</span>
  </div>
  <ul>
    <li *ngFor="let element of elements" class="me-2">
      <input type="checkbox" [checked]="category === 'titre' ? getChecked() : element.checked" (click)="checkCategory(category, element.nom)"/>
      <label>{{element.nom}}</label>
    </li>
  </ul>
</ng-template>

<ng-template #booktemplate let-book="book">
  <div class="d-flex flex-row m-0">
    <img class="book-image border border-4 m-2"
    src="{{imgBackend}}/images/livres/{{book.image_name}}"
    (click)="navigateTo(book.index)"
    />
    <div class="d-flex flex-row m-0 w-100 mh-100">
      <div class="d-flex flex-column p-2">
        <h4 class="m-0">{{book.titre}}</h4>
        <p class="mb-0"><b>{{book.auteur.prenom}} {{book.auteur.nom}}</b></p>
        <div class="d-flex flex-row">
          <div *ngFor="let genre of book.genres; let i = index;">
            {{(i !== 0) ? '-' : ''}} {{genre.genre.nom}}&nbsp;</div>
        </div>
        <div class="mt-auto ps-3 pb-3">
          <p class="mb-0">{{book.description.substring(0, 160)}} ...</p>
        </div>
      </div>
      <div class="ms-auto me-2 book-icons">
        <div (click)="navigateTo(book.index)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #aucun>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
  </svg>
</ng-template>

<ng-template #asc>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
    <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
  </svg>
  </ng-template>

<ng-template #desc>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down-alt" viewBox="0 0 16 16">
    <path d="M12.96 7H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V7z"/>
    <path fill-rule="evenodd" d="M10.082 12.629 9.664 14H8.598l1.789-5.332h1.234L13.402 14h-1.12l-.419-1.371h-1.781zm1.57-.785L11 9.688h-.047l-.652 2.156h1.351z"/>
    <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
  </svg>
</ng-template>
