
.page {
  padding-top: 105px;
  margin: auto;
  width: 55%;
  min-width: 700px;
  height: 77.7vh;
}

.categories {
  height: 60vh;
}

.books {
  overflow-y: auto;
  height: 100%;
  padding: 0px;
}

.book-card {
  border: 1px solid lightgrey;
}

li {
  list-style: none;
}

label {
  padding-left: 8px;
}
