
.page {
  padding-top: 95px;
  width: 100%;
}

.div-books {
  min-height: 73.5vh;
  overflow-y: auto;
  width: 100%;
}

.books {
  margin: auto;
  width: 50%;
  min-width: 1100px;
}

.search-bar {

  position: fixed;
  overflow: hidden;
}

.categories {
  margin-top: 4%;
  position: fixed;
  height: 50vh;
}

.book-card {
  border: 1px solid lightgrey;
}

.book-image {
  height: 170px;
}

ul {
  margin-bottom: 0;
}

li {
  list-style: none;
  font-weight: 400;
}

span {
  font-weight: 400;
  margin-left: 6px;
}

label {
  padding-left: 8px;
}

.font-select {
  font-weight: 600;
  margin-left: 6px;
}

.svg.svg {
  color: #555555;
}

.svg-select {
  color: black;
}

input[type='checkbox'] {
  accent-color: green;
}

.num-page-selected {
  background-color: lightcyan;
}

.row-per-page {
  width: 70px;
}

.selected {
  background-color: #eeeeee;
}

.selected-lib {
  color: lightseagreen;
}

.dispo-lib {
  color: lightgrey;
}

.center {
  margin-top: 12%;
  margin-left: 42%;
}
